*{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}

.text-uppercase{
	 text-transform: uppercase;
}

/* NAVBAR */ 
nav{
	width: 80%;
	margin-left: 9%;
}
.navbar {
	background-color: white;
	    box-shadow: none;
}
.navbar a{
	color: #4a6a79;
}
.tabs .tab a {
	color: #4a6a79;
}
.tabs .tab a:hover{
	color:tomato;
}
nav .brand-logo{
	margin-left: 22px;
}

/* SECCION POPULAR */
.popular{
	width: 100%;
  margin-left: -78px;

}

.img-foto-popular1{
	background-image: url(../img/10.png);
	background-repeat: no-repeat;
  width: 205%;
  height: 135px;
  margin-left: -30px;
  margin-top: 20px;
}

.img-foto-popular2{
	background-image: url(../img/12.png);
	background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 52px;
  width: 204%;
  height: 155px;
}
