*{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}

.text-uppercase{
	 text-transform: uppercase;
}

/* NAVBAR */ 

.navbar {
	background-color: white;
	    box-shadow: none;
}
.navbar a{
	color: #4a6a79;
}
.tabs .tab a {
	color: #4a6a79;
}
.tabs .tab a:hover{
	color:tomato;
}
nav .brand-logo{
	margin-left: 22px;
}